

    body{
        background: black;
        color: white;
    }


   #header{
       width: 100vw;
       height: 80px;

       position: fixed;
       top: 0;
       left: 0;
       border-bottom: 1px solid white;


       /*padding: 20px 10%;*/
       /* align-items: center;*/


       /*display: flex;*/
       /*justify-content: space-between;*/

       /*z-index: 100;*/

   }


   #header>h3{
       width: 50vw;
        top: 50%;
       text-align: center;
       font-size: 30px;


   }
    #header>h3 span{
        color: #43077b;
    }

   #header div{
       width: 50vw;
       height: 20px;

       position: absolute;
       top: 0;
       left: 50vw;

       /*border: 10px solid white;*/


   }

   .navbar a{
       position: absolute;
       align-items: center;
       /*color : white ;*/
       margin-left: 35px;

       color: white;

       font-size: 20px;

       /*border: 10px;*/
       /*border-radius: 100%;*/
       /*background: gold;*/

   }

    .navbar>a+a{

        left: 110px;

    }

    .navbar>a+a+a{
        left: 250px;
    }

    .navbar>a+a+a+a{
        left: 350px;
    }

    .navbar>a+a+a+a+a{
        left: 450px;
    }





    /* ========== about me ========== */
 #aboutMe{

    #txt {
        width: 50vw;
        height: 100vh;

        position: absolute;
        top: 0;
        left: 0;

        /*border: 10px solid white;*/
        /*box-sizing: border-box;*/
    }

    #photo {
        width: 50vw;
        height: 100vh;

        position: absolute;
        top: 0;
        right: 0;

        /*border: 10px solid white;*/
        /*box-sizing: border-box;*/

    }

    #aboutTxt > h1 {
        position: absolute;
        font-size: 100px;
        top: 8vh;
        left: 20px;
        /*color: #ff253a;*/

    }

    #aboutTxt h2 {
        position: absolute;
        top: 30vh;
        left: 20px;

        font-size: 40px;
        /*color: navajowhite;*/
    }

    #aboutTxt p {

        width: 50vw;

        position: absolute;
        top: 45vh;


        font-size: 20px;
        text-align: center;
        /*position: absolute;*/
        /*top: 70px;*/
        /*right: 0;*/

    }

    .social {
        position: absolute;
        top: 60vh;

        width: 50vw;
        height: 100px;

        /*border:10px solid white;*/

    }

    .social > div {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    .fa-brands {

        position: relative;
        left: 80px;
        right: 100px;

        font-size: 50px;
        margin: 25px 40px 100px 30px;


    }

    .social > div + div {
        width: 50vw;
        height: 50px;

        position: absolute;
        top: 130px;

        /*left: 50%;*/
        /*right: 50%;*/

        /*border:10px solid white;*/


    }

    .social > div + div button {
        width: 150px;


        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;

        border-radius: 25px;
        text-align: center;
    }

    .profilePhoto {
        /*width: 50vw;*/
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;


        width: 400px;
        aspect-ratio: 1/1;

        border-radius: 100%;
        border: 5px solid white;
        box-shadow: 0 0 250px 40px #43077b;

    }

    .profilePhoto > img {
        width: 400px;
        aspect-ratio: 1/1;
        border-radius: 100%;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

}


 /* ========== my works ========== */
